body {
    background-color: black;
    color: white;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box1 {
    border: 5px solid #ff2121;
    background-color: darkred;
    width: 15%;
    height: 20%;
    margin: auto;
    border-radius: 16px;
}